body {
  background-image: url(image/bg.png);
  background-position: center;
  background-size: 1700px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container {
  max-width: 750px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f3ecec;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: calc(100% - 12px);
  padding: 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #0056b3;
  outline: none;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.activity-list-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 20px;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
}

.activity-checkbox {
  margin-right: 10px;
}

.activity-name {
  font-weight: bold;
}

.activity-date {
  min-width: 120px;
}

.completed {
  text-decoration: line-through;
}

.activity-cancel-button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.activity-cancel-button:hover {
  background-color: #c82333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
